{% if errors %}
    {{ errors }}
{% endif %}
<form action="/agro/farm/" method="post">
    {% csrf_token %}
    <table>
        <tr><th><label for="id_load_num">Load num:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><select name="load_num" required id="id_load_num">
          <option value="" selected>---------</option>
          {% for each in form.fields.load_num.choices.queryset %}
            <option value="{{each.id}}" {% if each.id == harvester_id %} selected='selected' {% endif %} >{{each}}</option>
          {% endfor %}
        </select></td></tr>
        <tr><th><label for="id_date">Date:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" name="date" required id="id_date" /></td></tr>
        <tr><th><label for="id_time">Time:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" name="time" required id="id_time" /></td></tr>
        <tr><th><label for="id_tub_no">Tub no:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="number" name="tub_no" required id="id_tub_no" /></td></tr>
        <tr><th><label for="id_bin_no">Bin no:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="number" name="bin_no" required id="id_bin_no" /></td></tr>
        <tr><th><label for="id_b_trks">B trks:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="number" name="b_trks" step="0.01" required id="id_b_trks" /></td></tr>
        <tr><th><label for="id_pulp_temp">Pulp temp:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="number" name="pulp_temp" step="0.01" required id="id_pulp_temp" /></td></tr>
        <tr><th><label for="id_comments">Comments:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><textarea name="comments" cols="40" rows="10" required id="id_comments">
        </textarea></td></tr>
    </table>
    <input type="submit" value="Submit">

</form>