{% if errors %}
    {{ errors }}
{% endif %}
<form action="/agro/harvester/" method="post">
    {% csrf_token %}
    <table>
        <tr><th><label for="id_load_num">Load num:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="number" name="load_num" required id="id_load_num" /></td></tr>
        <tr><th><label for="id_harvester">Harvester:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" name="harvester" maxlength="255" required id="id_harvester" /></td></tr>
        <tr><th><label for="id_date">Date:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" name="date" required id="id_date" /></td></tr>
        <tr><th><label for="id_time">Time:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" name="time" required id="id_time" /></td></tr>
        <tr><th><label for="id_field">Field:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" name="field" maxlength="255" required id="id_field" /></td></tr>
        <tr><th><label for="id_harvest_type">Harvest type:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" name="harvest_type" maxlength="255" required id="id_harvest_type" /></td></tr>
        <tr><th><label for="id_variety">Variety:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" name="variety" maxlength="255" required id="id_variety" /></td></tr>
        <tr><th><label for="id_truck">Truck:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="number" name="truck" required id="id_truck" /></td></tr>
        <tr><th><label for="id_acres_harvested">Acres harvested:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="number" name="acres_harvested" step="0.01" required id="id_acres_harvested" /></td></tr>
        <tr><th><label for="id_passes">Passes:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="number" name="passes" step="0.01" required id="id_passes" /></td></tr>
        <tr><th><label for="id_comments">Comments:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><textarea name="comments" cols="40" rows="10" required id="id_comments">
        </textarea></td></tr>
        <tr><th><label for="id_cwt">Cwt:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="number" name="cwt" step="0.01" required id="id_cwt" /></td></tr>
    </table>
    <input type="submit" value="Submit">
</form>