<ul>
    {% for harvester in harvesters %}
        <li>
            {{harvester.harvester}}  ==>  {% for farm in harvester.farm_set.all %} <{{ farm }}> {% empty %} None {% endfor %}
        </li>
    {% endfor %}
    <a href="{% url 'agro:harvester_view' %}">Add Harvester</a>
</ul>